:root{
    --primary-color: rgba(251, 194, 0, 1);
    --secondary-color: rgb(187,33,27);
    --primary-font: "Varela Round", sans-serif;
}

@font-face {
    font-family: header-font;
    src: url(../fonts/Norse-Bold.otf);
}

body{
    display: flex;
    font-family: var(--primary-font);
}

.pic{
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 35vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-logo{
    margin-bottom: 50px;
    margin-left: 20px;
    height:calc(10vh + 2vw);
    width: auto;
    transform: rotate(-2deg);
}


.main-card{
    width: 65vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(181,130,88,0.2);
    border-left: 0.5rem solid rgba(181,130,88);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 65vw;
    height: 20vh;
}

.heading{
    display: flex;
    align-items: center;
}

h1{
    font-size: calc(1vh + 1vw + 0.3rem);
    color: var(--primary-color);
}

h1 .brand{
    font-family: header-font, sans-serif;
    border-bottom: 0.3rem solid var(--primary-color);
}

h1:not(.brand){
    font-family: var(--primary-font);
    font-weight: 400;
}

img{
    width: auto;
    height: 7rem;
}

.message{
    padding-top: 1rem;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: calc(1vh + 0.5vw + 2px);
}

main{
    display: flex;
    padding-top: 4vh;
}

.form{
    width: 65vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.first-row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 4rem;
}

.second-row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 4rem;
}

.third-row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 4rem;
}

.fourth-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 4rem;
}

.fifth-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 4rem;
}

select,
input,
textarea,
button{
    padding: 0.8rem;
    border-radius: 1rem;
}

select,
input{
    width: 18%;
}

textarea{
    resize: none;
}

