:root{
    --primary-color: rgb(240, 184, 0);
    --secondary-color: rgb(227,82,44);
    --border-color: rgb(182, 145, 115);
    --primary-font: "Varela Round", sans-serif;
}

@font-face {
    font-family: header-font;
    src: url(../fonts/Norse-Bold.otf);
}

body{
    display: flex;
    font-family: var(--primary-font);
}

.pic{
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 35vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-logo{
    margin-bottom: 50px;
    margin-left: 20px;
    height:calc(8vh + 2vw);
    width: auto;
    transform: rotate(-2deg);
}


.main-card{
    width: 65vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(181,130,88,0.1);
    border-left: 0.5rem solid var(--border-color);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 65vw;
    height: 20vh;
    padding-top: 1vh;
}

.heading{
    display: flex;
    align-items: end;
}

.logo{
    display: flex;
}

h1{
    font-size: calc(1vh + 1vw + 0.3rem);
    color: var(--primary-color);
}

h1 .brand{
    font-family: header-font, sans-serif;
    border-bottom: calc(0.2vh + 0.1vw) solid var(--primary-color);
    margin-left: -0.5rem;
}

h1 span.brand-line{
    font-family: var(--primary-font);
    font-weight: 400;
}

img{
    width: auto;
    height: calc(4vh + 2vw);
}

p{
    margin: 0;
}

.message{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: calc(1vh + 0.5vw + 2px);
    padding-top: 3vh;
}

main{
    display: flex;
    padding-top: 4vh;;
}

.form{
    width: 65vw;
    display: flex;
    flex-direction: column;
    gap: 4.5vh;
    position: relative;
}

.form::before{
    content: "";
    background-color: var(--border-color);
    width: 25vw;
    height: 1px;
    position: absolute;
    left: 19.5vw;
    top: -2.8vh;
}

.form::after{
    content: "";
    background-color: var(--border-color);
    width: 26vw;
    height: 1px;
    position: absolute;
    left: 19.5vw;
    bottom: -3vh;
}

.first-row,
.second-row,
.third-row,
.fourth-row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 4rem;
    position: relative;
    padding-top: 0.5vh;
}

.fifth-row,
.sixth-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 4rem;
    position: relative;
    padding-top: 0.5vh;
}

select,
input,
textarea,
button{
    padding: calc(0.4vh + 0.3vw);
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    font-size: calc(0.5vh + 0.3vw + 5px);
}

select,
input{
    width: 18%;
}

button{
    border: 0;
    background-color: var(--border-color);
    padding: 1% 2%;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
    transform-origin: bottom;
}

textarea{
    resize: none;
    width: 39%;
}

select{
    appearance: none;
    background-color: white;
}

input::placeholder{
    border-bottom: 1px solid grey;
}

input:invalid{
    color: var(--secondary-color);
}

input[type="password"] ~ span{
    position: absolute;
    width: 15%;
}

input[type="password"]:focus ~ span::after{
    opacity: 1;
}

input[type="password"] ~ span::after{
    content: "Enter at least 8 characters containing alphabets and numbers";
    position: absolute;
    left:-1vw;
    font-size: calc(0.1vh + 0.1vw + 12px);
    opacity: 0;
    transition: opacity 0.5s;
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid white;
    padding: calc(0.4vh + 0.2vw + 1px);
    box-shadow: 1px 1px 4px grey, -1px -1px 4px grey;
}

textarea + label.first-field,
select + label.first-field,
input + label.first-field{
    opacity: 0;
    position: absolute;
    left: 14vw;
    top: -3vh;
    margin-top: 1vh;                            /*So the label doesn't go too far below into the input field upon viewport shrink*/
    font-size: calc(0.5vh + 0.3vw + 5px);
    transition: opacity 0.5s;
}

select + label.second-field,
input + label.second-field{
    opacity: 0;
    position: absolute;
    right: 14vw;
    top: -3vh;
    margin-top: 1vh;
    font-size: calc(0.5vh + 0.3vw + 5px);
    transition: opacity 0.5s;
}

textarea + label.first-field{
    opacity: 0;
    position: absolute;
    left: 20vw;
    top: -3vh;
    margin-top: 1vh;                            /*So the label doesn't go too far below into the input field upon viewport shrink*/
    font-size: calc(0.5vh + 0.3vw + 5px);
    transition: opacity 0.5s;
}

textarea:not(:placeholder-shown) + label,
select:valid + label,
input:not(:placeholder-shown) + label{
    opacity: 1;
}

