:root{
    --primary-color: rgba(251, 194, 0, 1);
    --secondary-color: rgb(187,33,27);
}

@font-face {
    font-family: header-font;
    src: url(../fonts/Norse-Bold.otf);
}

body{
    display: flex;
}

.pic{
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 35vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-logo{
    margin-bottom: 50px;
    margin-left: 20px;
    height:calc(10vh + 2vw);
    width: auto;
    transform: rotate(-2deg);
}


.main-card{
    width: 65vw;
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 100vh;
    background-color: rgba(181,130,88,0.1);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3vh 5vw;
    width: 65vw;

}

.heading{
    display: flex;
    align-items: center;
}

h1{
    font-size: calc(1vh + 1vw + 0.3rem);
    color: var(--primary-color);
}

h1 .brand{
    font-family: header-font, sans-serif;
    border-bottom: 0.3rem solid var(--primary-color);
}

h1:not(.brand){
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
}

img{
    width: auto;
    height: 7rem;
}

.message{
    padding-top: 1rem;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-size: calc(1vh + 0.5vw + 2px);
}